@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__next { height: 100%; }
.leaflet-container { height: 100%; width: 100%; }

/* DivIcon soll so groß wie sein Inhalt sein */
.leaflet-div-icon.zhaw-abbr {
  background: transparent;
  border: none;
  width: auto !important;
  height: auto !important;
}
